# Virtual env
venv/
env/
.venv/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data files (do NOT commit big CSVs)
data/
*.csv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
